{% extends "base.html" %}
{% block title %}Skills - Geethika A{% endblock %}
{% block content %}
<h2>Skills</h2>

<div class="row">
  <div class="col-md-6 reveal">
    <h5>Technical Skills</h5>
    <div class="skill">
      <div class="skill-name">Python</div>
      <div class="skill-bar"><div class="skill-fill" data-fill="90"></div></div>
    </div>
    <div class="skill">
      <div class="skill-name">Django / Flask</div>
      <div class="skill-bar"><div class="skill-fill" data-fill="85"></div></div>
    </div>
    <div class="skill">
      <div class="skill-name">Salesforce Trailhead</div>
      <div class="skill-bar"><div class="skill-fill" data-fill="75"></div></div>
    </div>
  </div>

  <div class="col-md-6 reveal">
    <h5>Soft Skills</h5>
    <ul>
      <li>Leadership (Former Vice Captain)</li>
      <li>Communication</li>
      <li>Time Management</li>
    </ul>
  </div>
</div>
{% endblock %}
